.seccion-contacto {
    padding: 10px;
    max-width: 900px;
    min-width: 150px;
    width: 100%;

    .introduccion-contacto {
        max-width: 700px;
        text-align: center;
        font-size: 1.1rem;
        margin: 2rem auto;
    }

    .metodos-de-contacto {
        display: flex;
        gap: 15px;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 1.5rem;

        .contacto {
            display: flex;
            gap: 5px;
            background-color: #d9d9d9;
            border-radius: 18px;

            padding: 6px 14px;
            border-radius: 20px;
            font-size: 1.1rem;
            align-content: center;
            color: inherit;
            align-content: center;
            text-decoration: none;
            cursor: pointer;

            .icono {
                display: flex;
                align-items: center;
            }
            
            &:hover {
                background-color: #2c2a2a;
                color: #cccccc;
            }
        }
    }
}