.seccion-habilidades {
    padding: 10px;
    max-width: 900px;
    max-width: 1100px;
    min-width: 150px;
    width: 100%;

    display: flex;
    flex-direction: column;

    p {
        margin: 0;
    }

    h2 {
        margin: 0;
    }

    .introduccion-habilidad {
        max-width: 800px;
        margin: 1rem auto 1.5rem auto;
        font-size: 1.2rem;
        line-height: 1.5;
        text-align: center;
    }

    .habilidades {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        
        .habilidad-contenedor {
            margin: 0.5rem 0;
            height: auto;

            .titulo {
                display: flex;
                gap: 2px;

                .tecnologia-nombre {
                    font-size: 20px;
                    margin: 5px 0;
                }
                img {
                    width: 25px;
                }
            }

            
        }
    }
}