.seccion-habilidades {
    scroll-margin-top: 60px;
    padding: 10px;
    min-width: 150px;
    width: 100%;

    display: flex;
    flex-direction: column;

    p {
        margin: 0;
    }

    .introduccion-habilidad {
        margin: 2rem 0;

        h2 {
            font-size: 2.2rem;
            line-height: 0.95;
        }

    }

    .habilidades {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;  

        .habilidad-contenedor {
            margin: 0.5rem 0;
            height: auto;
            padding: 1em 0;

            .titulo {
                display: flex;
                align-items: center;
                gap: 2px;
                text-transform: uppercase;
                margin-bottom: 0.8rem;
                // border: 1px solid;
                // align-items: flex-start;

                .iconos-wrap {
                    .icono-tech {
                        font-size: 1.2rem;
                    }
                }

                .tecnologia-nombre {
                    font-size: 1.5rem;
                    // margin: 5px 0;
                    // border: 1px solid;
                }

                
            }

            .descripcion-habilidad.ul {
                list-style: none;
            }

            .descripcion-habilidad {
                text-align: justify;
                
            }

            
        }
    }
}

@media screen and (max-width: 610px) {
    .seccion-habilidades {
        .habilidades {
            .habilidad-contenedor.color-js {
                .titulo {
                    align-items: start;

                    .iconos-wrap {
                        margin-top: 0.5rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .seccion-habilidades {

        .introduccion-habilidad {
            
            h2 {
                overflow-wrap: break-word;
                word-break: break-word;
                hyphens: auto;
                font-size: 2.2rem;
                line-height: 1.1;
            }
        }

        .habilidades {
            grid-template-columns: 1fr;
            gap: 0;

            .habilidad-contenedor {
                margin: 0;

                .titulo {

                    .iconos-wrap {
                        .icono-tech {
                            font-size: 1.1rem;
                        }
                    }

                    .tecnologia-nombre {
                        font-size: 1.1rem;
                    }
                }

                .descripcion-habilidad {
                    overflow-wrap: break-word;
                    font-size: 15px;
                }
            }

            .habilidad-contenedor.color-js {
                .titulo {
                    align-items: center;

                    .iconos-wrap {
                        margin: 0;
                    }
                }
            }
        }
    }
}