.seccion-habilidades {
    padding: 10px;
    max-width: 900px;
    max-width: 1100px;
    min-width: 150px;
    width: 100%;

    display: flex;
    flex-direction: column;

    p {
        margin: 0;
    }

    h2 {
        font-size: 25px;
        margin: 0;
    }

    .introduccion-habilidad {
        font-size: 18px;
        line-height: 1.5;
        max-width: 800px;
        margin: 1rem auto 1.5rem auto;
    }

    .habilidades {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        
        .habilidad-contenedor {
            margin: 0.5rem 0;
            // width: 50%;
            height: auto;
            .tecnologia-nombre {
                font-size: 20px;
                margin: 5px 0;
            }

            .descripcion-habilidad {
                line-height: 1.5;
                font-size: 16px;
                // font-weight: 400;
            }

        }
    }
}