.seccion-sobre-mi {
    padding: 10px;
    max-width: 900px;
    min-width: 150px;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 25px;

    .texto-sobre-mi {
        font-size: 18px;
        line-height: 1.5;
        margin: 0;
        
        span {
            font-weight: 600;
        }
    }

    .texto-sobre-mi:nth-child(1) {
        grid-column: 1/-1;
    }

    .texto-sobre-mi:nth-child(2) {
        grid-column: 1/4;
    }

    .texto-sobre-mi:nth-child(3) {
        grid-column: 4/-1;
    }

    .sugerencia {
        grid-column: 1/-1;
        text-align: center;
        a {
            color: inherit;
            text-decoration: none;
            border-bottom: 1px solid;
        }
    }
}

@media screen and (max-width: 420px) {
  .seccion-sobre-mi {
    .texto-sobre-mi {
        font-size: 15px;
    }

    .texto-sobre-mi:nth-child(1) {
        text-align: center;
    }
  }
}