.seccion-sobre-mi {
    .texto-sobre-mi {
        span {
            font-weight: 600;
        }
    }

    .sugerencia {
        a {
            border-bottom: 1px solid;
            color: black;
        }
    }
}