.seccion-sobre-mi {
    margin-top: 50px;
    min-width: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 2px solid;
    height: 100%;
    // min-height: 60vh;
    max-height: 60vh;
    height: 100%;
    padding: 10px;
    scroll-margin-top: 100px;
    // border: 1px solid;

    .cuadro-con-saludo {
        background-color: var(--color-tinta);
        color: var(--color-papel);
        // min-height: 250px;
        // min-width: 230px;
        max-height: 250px;
        max-width: 230px;
        width: 100%;
        height: 100vh;
        
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 0.5rem;
        padding: 1em;
        
        h2 {
            font-size: 2rem;
            text-wrap: break-word;
        }

        .iconos {
            display: flex;
            gap: 0.5rem;

            a {
                font-size: 2rem;
            }
        }
    }

    .contenedor {
        padding-left: 1em;
        
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        h2 {
            font-size: 3rem;
            line-height: 0.95;
        }
    }

}

@media screen and (max-width: 576px) {
    .seccion-sobre-mi {
        .cuadro-con-saludo {

            h2 {
                font-size: 1.5rem;
            }
        }

        .contenedor {
            h2 {
                overflow-wrap: break-word;
                word-break: break-word;
                hyphens: auto;
                font-size: 1.5rem;
                line-height: 1;
            }
        }
    }
}

@media screen and (max-width: 480px) {
  .seccion-sobre-mi {
    .texto-sobre-mi {
        font-size: 15px;
    }
    
  }
}

