.seccion-proyectos {
    padding: 10px;
    min-width: 150px;
    width: 100%;
    height: 100%;
    scroll-margin-top: 50px;

    .seccion-titulo {
        margin: 2rem 0;
        font-size: 2.2rem;
        line-height: 0.95;
    }
    
    .proyectos {
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}


@media screen and (max-width: 480px) {
    .seccion-proyectos {

        .seccion-titulo {
            padding: 0.5em;
            font-size: 2.2rem;
            line-height: 1;
        }

        .proyecto {
            width: 100%;
        }
    }
}