// .proyecto {
//     display: flex;
//     flex-direction: column;  
//     gap: 8px;  
//     padding-left: 2px;
//     width: 32%;
//     max-height: 300px;

//     .nombre-proyecto {
//         color: #2c2a2a;
//         margin: .5rem;
//         font-weight: 500;
//         font-size: 18px;
//     }

//     .img_proyecto {
//         width: 100%;
//         object-fit: cover;
//         border-radius: 15px;
//         height: 200px;
//         box-shadow: 0px 1px 5px rgb(0, 0, 0, .6);
//     }

//     .link-proyecto {
//         font-family: "Montserrat", serif;
//         font-optical-sizing: auto;
//         font-weight: 400;
//         font-style: italic;
//         font-size: 15px;
//         color: #2c2a2a;
        
//     }

//     .btns-proyecto {
//         display: flex;
//         gap: 10px;
//         button, a {
//             width: 150px;
//             width: 50%;
//             height: 35px;
//             border-radius: 14px;
//             border: none;
//             background-color: #d9d9d9;
//             transition: 1s;
//             font-size: 16px;
//             color: #2c2a2a;
//             cursor: pointer;
//         }

//         a {
//             align-content: center;
//             text-align: center;
//             text-decoration: none;
//             color: inherit;
//             background-color: #e0a458;
//             box-shadow: 0px 1px 4px rgb(0, 0, 0, .6);
//             position: relative;
            
//             span {
//                 opacity: 0;
//                 position: absolute;
//             }
//             img {
//                 // max-width: 25px;
//                 height: 100%;
//                 width: 100%;
//                 opacity: 1;
//             }
//         }

//         a:hover {
//             span {
//                 opacity: 1;
//                 position: relative;
//                 transition: .5s;
//             }

//             img {
//                 opacity: 0;
//                 position: absolute;
//             }
//         }
//     }

//     .detalles {
//         display: grid;
//         grid-template-rows: 0fr;
//         transition: grid-template-rows 0.5s ease-out;

//         .inner {
//             overflow: hidden;
           
//             p {
//                 font-weight: 500;
//                 line-height: 1.5;
//                 font-size: 15px;
//             }
//         }
//     }
// }



// @media screen and (max-width: 720px) {
//     .proyecto {
//         width: 49%;
//         .img_proyecto {
//             height: 150px;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     .proyecto {
//         width: 100%;
//     }
// }

// .detalles-abierto {
//     box-shadow: inset -2px -1px 9px rgb(0, 0, 0, .6);
// }

// .detalles-cerrado {
//     box-shadow: 0px 1px 4px rgb(0, 0, 0, .6);
// }

.proyecto {
    display: flex;
    border: 1px solid rgb(128, 128, 128, .3);
    border-radius: 14px;
    padding: 1em;
    background-color: #d9d9d9;

    .text {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .wrapper {

            .titulo {
                margin: 0.5rem 0;
                font-size: 2rem;
            }

            .descripcion-contenedor {
                padding-right: 1em;

                p {
                    line-height: 1.5;            /* Clave: un interlineado generoso facilita la lectura */
                    font-size: 1.1rem;                    
                }
            }
        }

        footer {
            display: flex;
            gap: 0.3rem;

            button {
                display: flex;
                align-self: flex-start;
                border: none;
                padding: 0.3em 0.5em;
                background-color: #d9d9d9;
                background-color: rgb(128, 128, 128, .3);
                
                cursor: pointer;
                font-size: 1rem;
                border-radius: 14px;
                box-shadow: 0px 1px 0 0px rgb(0, 0, 0, .4);

                &:hover {
                    background-color: rgb(217, 217, 217, .8);
                }
            }
        }

    }

    .img-wrapper {
        width: 50%;
        border-radius: 20px;
        overflow: hidden;
        max-height: 300px;
        box-shadow: 0px 1px 4px rgb(0, 0, 0, .6);

        img {
            width: 100%;
            object-fit: cover;
        }
        
    }

    // &.inverse {
    //     flex-direction: row-reverse;
    // }

}

dialog {
    border: none;
    border-radius: 8px;
    padding: 20px;    
    position: fixed;
    inset-block-start: 0px;
    inset-block-end: 0px;
    max-width: calc(100% - 2em);
    max-height: calc(100% - 2em);
    user-select: text;
    visibility: visible;
    overflow: auto;
    margin: auto; 

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.7); /* Color oscuro semi-transparente */
        backdrop-filter: blur(4px); /* Opcional: desenfoque de fondo */
        overflow: hidden;
    }
}