.proyecto {
    display: flex;
    padding: 5px;
    box-shadow: 2px 2px 13px var(--color-linea);

    background-color: #f9f7f1;
    border-radius: 0px;
    padding: 10px;

    .text {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 1.5em;
        
        .wrapper {

            .titulo {
                margin: 0.5rem 0;
                font-size: 1.5rem;
                font-style: italic;
            }

            .descripcion-contenedor {

                p {
                    line-height: 1.5;            /* Clave: un interlineado generoso facilita la lectura */
                    font-size: 1.07rem;
                    letter-spacing: -0.3px; 
                    // font-style: italic;                   
                }
            }
        }

        footer {
            display: flex;
            gap: 0.3rem;

            .btn-abrir-detalles, .btn-ir-al-proyecto {
                display: flex;
                align-self: flex-start;
                border: none;
                padding: 0.3em 0.5em;
                
                background-color: var(--color-linea);
                color: var(--color-tinta);
                text-decoration: none;
                
                // background-color: var(--bg-papel);
                cursor: pointer;
                font-size: 1rem;
                border-radius: 14px;
                // box-shadow: 0px 1px 0 0px rgb(0, 0, 0, .4);

                &:hover {
                    background-color: rgb(217, 217, 217, .8);
                }
            }
        }

    }

    .img-wrapper {
        width: 40%;
        border-radius: 20px;
        border-radius: 0;

        max-height: 300px;

        display: flex;
        align-items: center;

        position: relative;
        overflow: hidden;
        box-shadow: 0px 1px 4px rgb(0, 0, 0, .6);
    
        .titulo {
            display: none;
        }

        img {
            width: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;
        }
        
    }

    &:hover {
        .img-wrapper {
            img {
                transform: scale(1.15);
            }
        }
    }

}

.proyecto:nth-child(1) {
    grid-column: 1/-1;
}

.proyecto:nth-child(2) {
    grid-column: 1/2;
}

.proyecto:nth-child(3) {
    grid-column: 2/3;
}

.proyecto:nth-child(2),
.proyecto:nth-child(3) {
    // flex-direction: column-reverse;
    // justify-content: flex-end;
    gap: 1rem;
    // height: 100%;

    display: grid;
    grid-template-rows: 1fr 1fr;

    .text, 
    .img-wrapper {
        width: 100%;
        border-left: none;
        padding: 0;
    }

    .text {
        grid-row: 2/-1;
    }

    .img-wrapper {
        grid-row: 1/2;
    }
}


dialog {
    border: none;
    border-radius: 12px;
    padding: 0; // Padding 0 para que el header llegue a los bordes
    max-width: 650px;
    max-width: 750px;
    width: 90%;
    margin: auto;
    overflow: hidden; // Evita scroll doble
    background: #fff;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
    animation: entradaModal 0.3s cubic-bezier(0.34, 1.56, 0.64, 1) both;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.75);
        backdrop-filter: blur(4px);
    }

    .modal-contenedor {
        display: flex;
        flex-direction: column;
        max-height: 80vh; // Para que no se salga de la pantalla

        .modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.5rem 2rem;
            background: #f8f9fa;
            // border-bottom: 1px solid #eee;
            // border-bottom: 2px solid black;
            position: relative;

            &::before {
                content: '';
                width: 90%;
                border-bottom: 2px solid black;
                position: absolute;
                top: 100%;
            }

            h2 { 
                margin: 0; 
                font-size: 1.8rem; 
                letter-spacing: -1px;
            }

            .btn-cerrar {
                background: none; border: none; font-size: 2rem; cursor: pointer; color: #999;
                
                &:hover { 
                    color: #000; 
                }
            }
        }

        .modal-body {
            padding: 2rem;
            overflow-y: auto; // Scroll solo en el contenido si es largo

            h3 {
                font-size: 1.1rem;
                text-transform: uppercase;
                // letter-spacing: -0.3px;
                margin-bottom: 1rem;
            }

            .detalles-texto {
                margin-bottom: 2rem;
                line-height: 1.6; 

            }

            .seccion-caracteristicas {
                margin-bottom: 2rem;
            }

            .features-grid {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;

                .feature-tag {
                    background: #eef2ff;
                    padding: 6px 14px;
                    border-radius: 20px;
                    font-size: 0.85rem;
                    font-weight: 600;                
                }
            }

            .tecnologias-usadas {

                div {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;

                    span {
                        background-color: #d9d9d9;
                        padding: 6px 14px;
                        border-radius: 20px;
                        font-size: 0.9rem;
                        font-weight: 600;

                        display: flex;
                        align-items: center;
                        gap: 3px;

                        svg {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }

        .modal-footer {
            padding: 1.5rem 2rem;
            text-align: right;
            border-top: 1px solid #eee;
        
            button {
                padding: 10px 25px;
                background: #333;
                color: white;
                border: none;
                border-radius: 6px;
                cursor: pointer;

                &:hover { 
                    background: #000; 
                }
            }
        }
    }
}

@keyframes entradaModal {
  from { transform: scale(0.8) translateY(20px); opacity: 0; }
  to { transform: scale(1) translateY(0); opacity: 1; }
}


@media screen and (max-width: 768px) {

    .proyecto {        

        .text {
            gap: 1rem;

            .wrapper {
                .titulo {
                    font-size: 1.2rem;
                }

                .descripcion-contenedor {

                    p {
                        font-size: 0.9rem;
                        display: -webkit-box;
                        line-clamp: 3;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }

                }
            }

            footer {

                .btn-detalles, .btn-ir-al-proyecto {
                    font-size: 0.9rem;
                }
            }
        }        

    }

    .proyecto:nth-child(2),
    .proyecto:nth-child(2) {        

        .text {
            gap: 1rem;             
        }
    }
}

@media screen and (max-width: 480px) {
    .proyecto:nth-child(1),
    .proyecto:nth-child(2),
    .proyecto:nth-child(3) {
        grid-column: 1/-1;
        flex-direction: row;
        display: flex;

        .text {
            width: 60%;
        }

        .img-wrapper {
            width: 40%;
            align-self: center;
        }
    }
}


// @media screen and (max-width: 768px) {

//     .proyecto {
//         flex-direction: column-reverse;
//         justify-content: center;
//         align-items: center;

//         .text, .img-wrapper {
//             width: 100%;
//         }

//         .text {
//             gap: 1rem;

//             .wrapper {
//                 .titulo {
//                     display: none;
//                 }
//             }
//         }

//         .img-wrapper {
//             flex-direction: column;
//             gap: 1rem;

//             .titulo {
//                 display: block;
//             }

//             img {
//                 width: 70%;
//             }
//         }
//     }

// }
