.seccion-proyectos {
    padding: 10px;
    min-width: 150px;
    width: 100%;
    min-height: 100vh;

    .seccion-titulo {
        margin-bottom: 1.5em;
        font-size: 3rem;
        border-left: 2px solid;
        padding: 1em 1em 1em 0.5em;
        line-height: 0.95;
    }
    
    .proyectos {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 100%;
    }
}


@media screen and (max-width: 480px) {
    .seccion-proyectos {

        .seccion-titulo {
            padding: 0.5em;
            font-size: 2.2rem;
            line-height: 1;
        }

        .proyecto {
            width: 100%;
        }
    }
}