* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  border: 1px solid red;
}

.portafolio {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
}

header {
  padding: 0;
  margin: 0;
  height: 35vh;
  width: 100%;
  background-color: #d9d9d9;
  align-content: center;

  .foto {
    border: 1px solid;
    border-radius: 50%;
    width: 118px;
    height: 118px;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    background-color: #111111;
  }

  p {
    text-align: center;
    margin: 0;
  }

  .descripcion {
    font-style: italic;
  }

  .mi-nombre {
    font-size: 24px;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;

  ul {
    list-style: none;
    background-color: #d9d9d9;
    border-radius: 20px;

    max-width: 400px;
    min-width: 200px;

    width: 100%;

    display: flex;
    justify-content: center;
    gap: 1px;

    li {
      text-align: center;
      border-radius: 15px;
      font-size: 14px;
      line-height: 50px;
      width: 25%;

      a {
        display: block;
        height: 100%;
        width: 100%;
        border-radius: 15px;
        align-content: center;
        text-align: center;
        color: inherit;
        text-decoration: none;
        transition: background-color 0.2s ease;
        // letter-spacing: 0.5px;

        &:hover {
          background-color: #2c2a2a;
          color: #ccc;
        }
      }

      .active-link {
        background-color: #2c2a2a;
        color: #cccccc;
      }
      
    }
  }
}

.contenedor-principal {
  // padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // gap: 20px;
  padding: 1em;
}

// .montserrat {
//   font-family: "Montserrat", serif;
//   font-optical-sizing: auto;
//   font-weight: 350;
//   font-style: normal;
// }

// .montserrat-bold {
//   font-family: "Montserrat", serif;
//   font-optical-sizing: auto;
//   font-weight: bold;
//   font-style: normal;
// }

// .montserrat-medium {
//   font-family: "Montserrat", serif;
//   font-optical-sizing: auto;
//   font-weight: 600;
//   font-style: normal;
// }

// .montserrat-400 {
//   font-family: "Montserrat", serif;
//   font-optical-sizing: auto;
//   font-weight: 400;
//   font-style: normal;
// }

.alice-regular {
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-franklin-regular {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}